app-table-prime-ng {
  .p-datatable {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .p-datatable .p-datatable-thead > tr > th {
    background-color: gray;
    font-weight: 600;
  }

  .p-datatable .p-datatable-tbody > tr:hover {
    background-color: green;
  }
}
