<p-table
  [value]="data().results"
  [lazy]="true"
  [paginator]="true"
  [rows]="paginationModel().limit"
  [totalRecords]="data().count"
  [first]="paginationModel().offset"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  (onPage)="pageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
  [loading]="loading">
  <ng-template #header>
    <tr>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Url</th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-item>
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.url }}</td>
    </tr>
  </ng-template>
</p-table>
